name: "dev_TF_infra_microservices"

on: workflow_dispatch 
  # push: 
  #   branches:
  #     - feature/*
  #     - main
    
permissions:
  id-token: write
  contents: read

jobs:
  terraformInit:
    name: terrafrom-init
    runs-on: self-hosted
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.0

      - name: Azure Login
        uses: Azure/login@v2.3.0
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
       
      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true
        working-directory: environments/dev
      
      - name: Terraform Init
        id: init
        run: terraform init -input=false
        working-directory: environments/dev
      
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color
        working-directory: environments/dev
      
      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color -input=false
        continue-on-error: true
        working-directory: environments/dev
      
 
